Options +Indexes

DirectorySlash Off

<IfModule rewrite_module>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteBase /HappyNest/hn/api/v1/parents
  RewriteRule (.*)$ parents.php?request=$1 [QSA,NC,L]
</IfModule>