<div>
  <a href="#/list">back</a>
</div>
<form>
  <div>
    <input type="text" ng-model="happyParent.name" value="{{happyParent.name}}">
  </div>
  <div>
    <input type="reset">
    <button ng-click="ok()"><a href="#/list">OK</a></button>
    <button ng-click="cancel()"><a href="#/list">Cancel</a></button>
    
  </div>
</form>
<div>
  Detail for Happy Parent with ID {{happyParent.id}}and all their Happy Children
</div>
<div>
  Wonder what we see here: {{happyParent}}
</div>
<div>
  This is the master copy, shouldn't change: {{happyParentMaster}}
</div>
  